<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.mapper.ImageMapper">
    <select id="selectImage" resultType="app.pojo.post.PostImage">
        select * from post_image_tb where img_id = #{id}
    </select>
</mapper>